html {
    background: black;
    font-size: 14px;
}

#main {
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 3000px);
}

.desktop-view > body::before {
    margin-top: 14rem;
}

.mobile-view > body::before {
    margin-top: 9rem;
}

#site-text-logo {
    color: white;
}

.bg-sunrise {
    width: 100%;
    height: auto;
    position: fixed;
    top: -1rem;
    left: 0;
    transform: scaleY(-1);
}

#main-outlet-wrapper {
    background-color: rgba(0,0,0,.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.sidebar-wrapper {
    // background glass effect from .main-outlet-wrapper
    background: none;
    --d-sidebar-highlight-color: #141414;
}

.sidebar-footer-wrapper .sidebar-footer-container {
    background: none;
}

.sidebar-footer-wrapper .sidebar-footer-container::before {
    background: linear-gradient(to bottom, rgba(7, 7, 7, 0), rgba(7, 7, 7, 1));
}

/**
 * Sticky Navbar
 */
.docked {
    .topic-link {
        color: var(--primary);
    }

    .extra-info-wrapper {
        .badge-wrapper {
            &.bullet,
            &.bar,
            &.none {
                span.badge-category {
                    color: var(--primary-high-or-secondary-low);
                }
            }
        }
    }
}

/**
 * Navbar
 */
.d-header {
    box-shadow: none;
    background: none;
}

/**
 * Categories
 */

table {
    border-collapse: separate;
    border-spacing: 0 1rem;
    margin-top: -1rem;
}

tbody {
    border-top: 3px solid var(--primary-low);
}

.topics-list-item, tr {
    border-bottom: 1px solid var(--primary-300);
}

.desktop-view > .category-list {
    .category-name {
        color: var(--category-color);
    }

    tbody {
        .category {
            // fallback background colour
            background-color: var(--secondary);
            // apply borders
            border-color: var(--secondary) !important;
            border: 1px solid var(--secondary);
            border-right: none;
        }

        .topics {
            // fallback background colour
            background-color: var(--secondary);
            // apply borders
            border-color: var(--secondary) !important;
            border: 1px solid var(--secondary);
            border-left: none;
        }
    }

    th {
        border-bottom: 0px;
    }

    td, td:first-of-type {
        padding: 1rem;
    }

    tr {
        // border: 1px solid var(--primary-low);
    }
}

.category-list-item {
    // todo
}

.latest-topic-list,
.top-topic-list {
    .table-heading {
        color: var(--primary-medium);
    }
}

.category-list th, .category-list td {
    color: var(--primary-medium);
}

.latest-topic-list {
    .table-heading {
        border-bottom: 1px solid;
        margin-bottom: 1rem;
    }

    .latest-topic-list-item {
        background-color: var(--secondary); // fallback background colour
        border: 1px solid var(--secondary);
        margin-bottom: 1rem;
    }
}

/**
 * Apply glass effect
 */
.d-header > .wrap {
    // background glass effect
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.latest-topic-list {
    .latest-topic-list-item {
        // background glass effect
        background-color: rgba(0, 0, 0, 0.7);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
}

.mobile-view > category-list {
    th {
        border-bottom: 0;
    }

    .category-name {
        margin-top: 0.75rem;
    }

    tbody {
        .category {
            // background glass effect
            background-color: rgba(0, 0, 0, 0.7);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
        }

        .topics {
            // background glass effect
            background-color: rgba(0, 0, 0, 0.7);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
        }
    }
}

.category-list-item {
   // background glass effect
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    border-top: 1px solid currentColor !important;
    border-bottom: 1px solid currentColor !important;
}

.category-list-item,
.subcategory-list-item {
    border-left: 1px solid currentColor;
    border-right: 1px solid currentColor;
}

.admin-content {
    // background glass effect
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

/**
 * Topic page
 */

 #topic-title h1 {
    font-size: var(--font-up-2);
    line-height: var(--line-height-large);
 }

 /**
 * Icons
 */
.d-header-icons .d-icon {
    font-size: $font-up-2;
}

.d-header .d-icon-home {
    font-size: $font-up-2;
    padding: 0.5rem;
    margin-right: 0.5rem;
}

.header-sidebar-toggle button .d-icon {
    font-size: $font-up-2;
    color: var(--header_primary);
}

/**
 * Admin panel
 */
.user-main .about.collapsed-info .details {
    background: none;
}

.group-details-container,
.user-content,
.boxed.white,
.loading-container,
.docs-search
{
    background: none;
}

.admin-report-table, .report-body, .misc {
    background: #141414;
}

.dashboard-reports .report {
    background: #141414;
}

.groups-boxes .group-box {
    background: #141414;
}

.group-members {
    background: #141414;
    margin-top: 0rem;
}

/**
 * Profiles
 */
.avatar {
    background: white;
}
