.category-list {
    .category-name {
        color: var(--category-color);
    }

    tbody {
        .category {
            // background glass effect
            background-color: rgba(0, 0, 0, 0.7);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
        }

        .topics {
            // background glass effect
            background-color: rgba(0, 0, 0, 0.7);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
        }
    }

    th {
        border-bottom: 0px;
    }

    td, td:first-of-type {
        padding: 1rem;
    }

    tr {
        //border: 1px solid var(--primary-low);
    }
}
